.list-group-item{
    padding: 15px 20px;
    border-bottom: 1px solid #3d3d3d;
}
.list-group-item:last-child{
    border: none;
}
.list-group-item span{
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    width: 550px;
}
.list-group-item input{
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    border: none;
}
.list-group-item button{
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.list-group-item .btn-cookie{
    color: rgb(126, 126, 24);
}
.list-group-item .btn-trash{
    color: rgb(138, 36, 36);
}
.list-group-item .fa-star{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: rgb(174, 174, 7);
    transition: all 0.3s;
    transform: translateX(30px);
    opacity: 0;
}
.list-group-item.like .fa-star{
    opacity: 1;
    transform: translateX(0);
}
.list-group-item.favourite .list-group-item-label,
.list-group-item.favourite .list-group-item-input{
    color: #e09f3e;
}
.list-group-item.favourite .btn-star{
    color: aliceblue;
}